* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/* html,
.imgAdmin {
  width: 100%;
  height: 100%;
  background: url(https://us.123rf.com/450wm/zagory/zagory1607/zagory160700077/60576691-fondo-transparente-con-iconos-simples-curvas-de-nivel-sobre-el-tema-de-los-aparatos-electrodom%C3%A9sticos-.jpg?ver=6)
    repeat fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
} */

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
}

.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #ef6c00;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
}
legend:after {
  content: "";
  background-image: url(https://cdn0.iconfinder.com/data/icons/iphone-black-people-svg-icons/20/login_user_profile_account_logout_people_man_human-512.png);
  background-size: 91px 69px;
  background-repeat: no-repeat;
  background-position: 158px -8px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

/* span {
  position: absolute;
  display: block;
  color: darken(#ededed, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
} */
input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#ededed, 30%);
}

input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #ef6c00;
}

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ef6c00;
  color: #ef6c00;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #ef6c00;
  color: #fff;
  outline: 0;
}
/* .feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
} */
/* .feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
} */
