* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: url(https://us.123rf.com/450wm/zagory/zagory1607/zagory160700077/60576691-fondo-transparente-con-iconos-simples-curvas-de-nivel-sobre-el-tema-de-los-aparatos-electrodom%C3%A9sticos-.jpg?ver=6);
}

.register-container {
  width: 40%;

  border: 1px solid grey;
  border-radius: 8px;
  background-color: #ffffff;
}
.login-container {
  width: 30%;

  border: 1px solid grey;
  border-radius: 8px;
  background-color: #ffffff;
}

.legend {
  position: relative;
  width: 100%;
  display: block;
  background: rgb(63, 81, 181);
  background: linear-gradient(
    94deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(85, 102, 194, 1) 59%,
    rgba(113, 127, 208, 1) 100%
  );
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
}
legend:after {
  content: "";
  background-image: url(https://cdn0.iconfinder.com/data/icons/iphone-black-people-svg-icons/20/login_user_profile_account_logout_people_man_human-512.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: 230px -8px;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#ededed, 30%);
}

input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #3f51b5;
}

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #3f51b5;
  color: #3f51b5;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #3f51b5;
  color: #fff;
  outline: 0;
}
