.color {
  background: red;
}

.admin-nav span {
  font-size: 1.7rem;
}

.admin-nav svg {
  font-size: 2.5rem;
}

.invisible-button {
  color: transparent;
  background-color: transparent;
  width: 100%;
}
