.contenedor {
  border-radius: 5px;
}
.contenedor img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}
.title-product {
  font-family: "Courier New", Courier, monospace;
}
.contenedor p {
  color: white;
  font-weight: bolder;
}

.link-producto h5 {
  /* font-size: 2.5rem; */
  color: white;
}

.descripcion-container {
  padding: 0;
  padding-top: 1rem;

  text-align: center;
}

.descripcion-producto {
  font-weight: bolder;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-footer {
  background-color: transparent;
}

.producto-footer button {
  border-radius: 8px;
  border-style: ridge;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  /* font-weight: bolder; */
  color: white;
  background-color: #ef6c00;
}
