.contenedor {
  border-radius: 5px;
}
.contenedor img {
  height: 250px;
<<<<<<< Updated upstream
  width: 100%;
  border-radius: 5px;
}
.title-product {
  font-family: "Courier New", Courier, monospace;
=======
  object-fit: cover;
  padding: 1rem;
  border-radius: 20px;
>>>>>>> Stashed changes
}
.contenedor p {
  color: black;
  font-weight: bolder;
}

.descripcion-container {
  padding: 0;
  padding-top: 1rem;

  text-align: center;
}

.descripcion-producto {
  font-weight: bolder;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-footer {
  background-color: transparent;
}

.producto-footer button {
  border-radius: 8px;
  border-style: ridge;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  /* font-weight: bolder; */
  color: white;
  background-color: #ef6c00;
}
