.contenedor {
  border-radius: 5px;
}
.contenedor img {
  height: 250px;
  border-radius: 5px;
  object-fit: contain;
}
.title-product {
  font-family: "Courier New", Courier, monospace;

  padding: 5px;
  border-radius: 20px;
}
.contenedor p {
  color: black;
  font-weight: bolder;
}

.descripcion-container {
  padding: 0;
  padding-top: 1rem;

  text-align: center;
}

.descripcion-producto {
  font-weight: bolder;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-footer {
  background-color: transparent;
}
.fa-shopping-cart:before {
  content: "\f07a";
  padding-right: 9px;
}
.producto-footer button {
  border-radius: 8px;
  border-style: ridge;
  padding: 5px;
  font-size: 1.1rem;
  /* font-weight: bolder; */
  /* font-weight: bolder; */
  color: white;
  background: rgb(9, 114, 131);
  background: linear-gradient(
    0deg,
    rgba(9, 114, 131, 1) 0%,
    rgba(20, 151, 172, 1) 50%,
    rgba(31, 180, 204, 1) 100%
  );
}
