#tableDelete {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 3px solid orange;
  width: 70%;
}
#trash {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#tablaEliminar {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.titlesAdmin {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
