body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #ffffff;
  padding: 1rem;
}
a:hover {
  color: black;
  text-decoration: none;
}

a.brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  padding-left: 1.5rem;
}

.cartCount {
  font-size: 12px;
  background: rgb(192, 10, 10);
  border-radius: 50%;
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  z-index: 500;
}
.carrito-button {
  padding-right: 9px;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navBar-contenedor {
  display: flex;
  justify-content: space-between;
}

.categories {
  margin-left: auto;
  margin-right: auto;
}

.link i {
  margin-right: 0.5rem;
}

@media (max-width: 1000px) {
  a.brand {
    padding-left: 3rem;
  }
}
@media (max-width: 763px) {
  a.brand {
    padding-left: 2rem;
  }
}
