/* .nav-bar {
  background-color: rgb(37, 32, 32);
} */
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #ffffff;
  padding: 1rem;
}
a:hover {
  color: black;
  text-decoration: none;
}

a.brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
}

.cartCount {
  font-size: 12px;
  background: rgb(192, 10, 10);
  border-radius: 50%;
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  z-index: 500;
}
.carrito-button {
  padding-right: 9px;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navBar-contenedor {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 991px) {
  .login-registro {
    padding-left: 5rem;
  }
}
