.nav-bar {
  background-color: #ef6c00;
}
a {
  color: #ffffff;
  padding: 1rem;
}
a:hover {
  color: black;
  text-decoration: none;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.cartCount {
  font-size: 12px;
  background: #000000;
  border-radius: 50%;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
}
