.main {
  background-color: #ef6c00;
  color: #ffffff;
  margin-bottom: 1rem;
}

.main h1 {
  font-size: 5rem;
  text-decoration: underline;
}
#id {
  height: 70px;
}
.producto {
  border: none;
  padding: 3rem;
}
.producto img {
  height: 500px;
  padding-bottom: 5px;
}
.descripcion {
  padding: 3rem;
  margin-top: 2rem;
  border-top: 1px solid #2f2f2f;
  background-color: ;
}
.descripcion h2 {
  text-decoration: underline;
  color: black;
}
.descripcion p {
  color: black;
  font-size: 2rem;
}
.stock {
  margin: 1rem 0;
}
.stock small {
  display: inline-block;
  padding: 3px;
  border: 1px solid #2f2f2f;
  background-color: #ffffff;
  font-weight: bold;
  color: #2f2f2f;
}

.comprar {
  background-color: #ffffff;
  padding: 3rem;
  text-align: center;
}
.comprar-header {
  border-bottom: 1px solid black;
}
.comprar-header h3 {
  color: black;
  font-weight: bold;
}
.comprar-body {
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.comprar-body h2,
small {
  color: black;
  margin: 0;
  font-weight: bold;
}
.comprar-footer button {
  font-weight: 900;
  width: 100%;
}
