@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.main {
  color: #333333;
  margin-bottom: 1rem;
}

.main h1 {
  font-size: 5rem;
  text-decoration: underline;
}

.producto {
  border: none;
}
.producto img {
  height: 376px;
  padding-bottom: 5px;
  object-fit: contain;
  margin-top: 50px;
}
.all-producto {
  margin-top: 20px;
}
.descripcion {
  padding: 3rem;
  margin-top: 2rem;
  border-top: 1px solid #2f2f2f;
}
.descripcion h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
.descripcion p {
  color: black;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.stock small {
  display: inline-block;
  margin-bottom: 20px;
}

.comprar {
  color: #333;
  margin-top: 58px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
.comprar-header {
  color: #333;
  padding-top: 10px;
}
.comprar-header h3 {
  font-weight: bold;
  font-size: 4rem;
  margin: 0px;
  margin-bottom: 10px;
}
.comprar-body {
  font-size: 2rem;
  align-items: center;
}

/* .small-producto {
  font-size: 90%;
  font-weight: 400;
  font-weight: bold;
} */
small {
  color: black;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.buttonCart {
  align-items: baseline !important;
  margin-left: 0px !important;
  margin-top: 20px;
}

.login-register-cart {
  align-items: baseline;
}
