.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 180px;
  background-color: #2f2f2f;
  color: #ffffff;
}
.footer small {
  color: #ffffff;
}

.about {
  padding: 0rem !important;
}
