@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.item-cart img {
  height: 100px;
}

.main-pedido {
  padding-top: 2rem;
  height: 600px;
}
.resumen {
  margin-top: -117px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
}
.pedido-list h1 {
  margin-bottom: 2rem;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
#header-pedido {
  padding: 0px;
  color: white;
}
.card-title {
  background-color: #343a40;
  color: white;
  padding: 20px;
}
