.background {
  background-color: #ef6c00;
  padding-top: 10px;
}
.link-producto {
  color: #000000;
  font-weight: bold;
  padding: 0;
}
.link-producto:hover {
  color: #ef6c00;
  text-decoration: none;
}
