html {
  font-size: 62.5%; /* 16px x 62.5 = 10px == 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.fila.centrado {
  justify-content: center;
}

.contenedor {
  width: 75%;
}
.seccion {
  display: flex;
  justify-content: center;
}
