.banner img {
  width: 100%;

  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 800px) {
  .banner img {
    height: 600px;
    object-fit: cover;
    object-position: bottom;
  }
}

@media (max-width: 800px) {
  .banner img {
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}
