.banner img {
  width: 100%;

  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 800px) {
  .banner img {
    /* height: 370px; */
    object-fit: cover;
    object-position: bottom;
  }
}

@media (max-width: 800px) {
  .banner img {
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}

.titleCarousel {
  color: #777;
}
.textCarousel {
  color: #343a40;
}
#firsttitleCarousel {
  color: white;
}
